@font-face {
  font-family: "TopazPlus a600a1200a4000";
      src: url(https://raw.githubusercontent.com/computer-catt/CelestialReaver-BetterDiscord-themes/main/themes/base/fonts/topazPlus-a1200/topaz.woff2) format("woff2");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
}
